<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
		<add key="fusiontree" value="https://nuget.fusiontree.co.za/nuget/" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="DevExtreme-Folder" value="C:\Program Files\DevExpress 22.2\DevExtreme\System\DevExtreme\Bin\AspNetCore\" />
	</packageSources>
</configuration>
