//
// Google font - Roboto
//

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

//
// Premium Font : HKGrotesk
//

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat"; 
    font-weight: 700;
}
