@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-12">
        <div class="auth-page-content">
            <div class="container">
                <!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">
                            <div class="card-header text-center mt-4">
                                <img src="/images/logo-medium.png" alt="" height="auto">
                            </div>
                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Forgot your password?</h5>
                                </div>
                                <div class="p-2 mt-4">
                                    <div class="row">
                                        <form method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="mb-3">
                                                @*<label asp-for="Input.Email" class="form-label"></label>*@
                                                <p>Enter your email.</p>
                                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 text-center">
                            <a asp-page="./Login" class="link">Back to Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
