@page
@model ForgotPasswordConfirmation


<div class="row">
    <div class="col-md-12">
        <div class="auth-page-content">
            <div class="container">
                <!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">
                            <div class="card-header text-center mt-4">
                                <img src="/images/logo-medium.png" alt="" height="auto">
                            </div>
                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Forgot password confirmation</h5>
                                    <p>Please check your email to reset your password.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <a asp-page="./Login" class="link">Back to Log In</a>
            </div>
        </div>
    </div>
</div>
